.contenedor {
    width: 920px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    background: linear-gradient(#232323, #0d0d0d);
    border: 3px solid #6c5ce7;
    border-radius: 12px;
    box-shadow: 0 0 25px #6c5ce7, 0 0 50px #00ffc8;
}

.mediodia {
    background-color: #33334d;
}

.tarde {
    background-color: #4d3333;
}

.noche {
    background-color: #1a1a32;
}

/* SPRITES DEL JUEGO */

.dino {
    width: 84px;
    height: 84px;
    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;
    background: url(../Imagenes/dino.png) repeat-x 0px 0px;
    background-size: 336px 84px;
}

.dino-corriendo {
    animation: animarDino 0.25s steps(2) infinite;
}

.dino-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../Imagenes/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;
}

.cactus {
    width: 46px;
    height: 96px;
    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;
    background: url(../Imagenes/cactus1.png) no-repeat;
}

.cactus2 {
    width: 98px;
    height: 66px;
    background: url(../Imagenes/cactus2.png) no-repeat;
}

.nube {
    width: 92px;
    height: 26px;
    position: absolute;
    z-index: 0;
    background: url(../Imagenes/nube.png) no-repeat;
    background-size: 92px 26px;
}

.score {
    width: 140px;
    height: 35px;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;
    color: #00ffc8;
    font-family: 'Press Start 2P';
    font-size: 22px;
    text-shadow: 0 0 10px #00ffc8;
}

/* GAME OVER */
.game-over {
    display: none;
    position: absolute;
    width: 100%;
    top: 120px;
    text-align: center;
    color: #ff00ff;
    font-size: 40px;
    font-family: 'Press Start 2P';
    text-shadow: 0 0 10px #ff00ff, 0 0 25px #6c5ce7;
}

@keyframes animarDino {
    from { background-position-x: -84px; }
    to { background-position-x: -252px; }
}
